body {
    background-color: rgb(249, 247, 244) !important;
    
}

.container h1 {
    color: rgb(88, 83, 78) !important;
}

.container h2 {
    color:rgb(168, 138, 127) !important;
}

.btn.apply-filters-btn {
    background-color:rgb(88, 83, 78) ;
}

.btn.add-filters-btn {
    background-color: rgb(61, 147, 99);
}

.btn.delete-filter {
    background-color: red;
}

.btn {
    margin-top: 10px !important;
}

.panel {
    margin-top:40px;
    margin-bottom:40px;
}

 #contact:target { /* i.e when this element is navigated to (from a link) */
    animation-name: ref-animation;
    animation-duration: 3s;
 }
 @keyframes ref-animation {
    from { background-color: #FFFFCC;     }  
    to   { background-color: transparent; }  
 }
/* top margin of buttons, color of delete-filter button (red), color of add-filter button (green)*/